---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import AstroSvg from '../assets/astro.svg';
---

<Layout title="Kevin Ganske" description="Kevin Ganske's website">
	<h1 class="text-red-400">Hauptseite</h1>
	<Project title="Minecraft Generator" href="/minecraft">
		<p>Ein Generator für Minecraft Welten, Strukturen und mehr.</p>
	</Project>
	<img src={AstroSvg.src} alt="Astro Logo" class="w-32 mt-4" />
</Layout>
