---
interface Props {
    title: string;
    href: string;
}
---

<article>
    <h3 class="font-bold">{Astro.props.title}</h3>
    <slot />
    <a class="text-blue-400 underline" href={Astro.props.href}>Mehr info</a>
</article>