---
import Layout from '../layouts/Layout.astro';

interface Props {
    title: string;
    description: string;
    
}
---

<Layout title={Astro.props.title} description={Astro.props.description}>
    <a href="/" class="fixed top-4 left-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow">
        Home
    </a>
    <slot />
</Layout>